@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.swiper-button-prev {
  background-image: url('../../public/arr-right.svg') !important;
}
.swiper-button-next {
  background-image: url('../../public/arr-left.svg') !important;
}
.swiper-button-prev,
.swiper-button-next {
  background-size: 40px 38px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #fdc001;
  transform-origin: 0%;
  z-index: 9999;
}
.image-offer {
  background-image: url('../../public/img3.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-attachment: fixed; */
}
.image-offer2 {
  background-image: url('../../public/img2.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-attachment: fixed; */
}
